.loading-placeholder-txt {
    font-weight: 600;
    text-transform: uppercase;
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 12px;
    font-family: sans-serif;
}

.node-circle-sel {
    stroke: rgb(245, 65, 65);
    stroke-width: 1px;
    r: 10;
}
.node-circle-nosel {
    /* stroke: bisque;
    stroke-width: 2px; */
    r: 8;
    fill: rgb(0, 0, 0);
}

.node-circle-order {
    /* stroke: bisque;
    stroke-width: 3px; */
    r: 8;
    fill: rgb(189, 65, 34);
}

.node-text-sel {
    fill: rgb(80, 12, 12);
    font-weight: 800;
    /* text-transform: uppercase;
    text-anchor: middle;
    alignment-baseline: middle; */
    font-size: 7px;
    font-family: sans-serif;
}

.node-text-nosel {
    fill: rgb(0, 0, 0);
    font-weight: 600;
    /* text-transform: uppercase;
    text-anchor: middle;
    alignment-baseline: middle; */
    font-size: 7px;
    font-family: sans-serif;
}
