.base {
    stroke-width: 2;
}
.base:hover {
    stroke: rgb(29, 60, 184);
    marker-end: url(#arrow-blue);
}
.selected {
    composes: base;
    stroke: rgb(190, 23, 23);
    marker-end: url(#arrow-red);
}
.unselected {
    composes: base;
    stroke: rgb(0, 0, 0);
    marker-end: url(#arrow-black);
}
.label {
    fill: rgb(190, 23, 23);
    font-weight: 600;
    /* text-anchor: middle;
    alignment-baseline: middle; */
    font-size: 7px;
    font-family: sans-serif;
}